@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-gradient {
  background-image: radial-gradient(
      circle farthest-corner at 25% -20%,
      rgba(122, 167, 255, 0.15),
      hsla(0, 0%, 100%, 0) 52%
    ),
    radial-gradient(
      circle farthest-corner at 100% 0%,
      rgba(255, 1, 1, 0.08),
      hsla(0, 0%, 100%, 0) 25%
    );
}
#mySearch:focus {
  outline: 1px solid lightgray;
}

#mySearch:hover {
  outline: 1px solid lightgray;
}

#myButton:hover {
  opacity: 70%;
}
.custom-light-gradient {
  background-color: #f5f6f7;
  background-image: linear-gradient(
      54deg,
      rgba(255, 131, 122, 0.25),
      rgba(255, 131, 122, 0) 28%
    ),
    linear-gradient(
      241deg,
      rgba(239, 152, 207, 0.25),
      rgba(239, 152, 207, 0) 36%
    );
}
.container {
  position: relative;
  width: 100%;
  max-width: 1230px;
  min-height: 30px;
  margin-right: auto;
  margin-left: auto;
}
.nav-container {
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.3s ease;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.ebook-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 12px;
  -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, opacity 200ms ease;
  transition: transform 200ms ease, opacity 200ms ease,
    -webkit-transform 200ms ease;
  color: #1d1d1d;
  text-align: left;
}

.ebook-box:hover {
  transform: translateY(-20px);
}
.custom-black-gradient {
  background-color: #1d1d1d;
  background-image: radial-gradient(
      circle farthest-corner at 0% 50%,
      rgba(255, 1, 1, 0.15),
      transparent 47%
    ),
    radial-gradient(
      circle farthest-corner at 40% 130%,
      rgba(122, 167, 255, 0.41),
      transparent 58%
    );
  color: #fff;
}
